{% extends "base.html" %}

{% block content %}

 <!-- Jumbotron -->
<div class="jumbotron">
    <h2>Welcome to our purrivate secret space!</h2>
    <p>You've just entered the hidden realm of feline mysteries, where only the sharpest claws and cleverest whiskers can thrive. Here, we share our cat-tastic adventures, ideas, and challenges. Keep your tails high, your paws ready, and enjoy exploring this hidden corner of the internet.</p>
    <p>Remember, curiosity makes cats smarter!</p>
    <p class="text-right">Th3 d4rk c4t</p>
</div>


{% include 'dashboard/members.html' %}

{% endblock %}