{% extends "base.html" %}

{% block content %}

 <!-- Jumbotron -->
<div class="jumbotron">
    <h2>Welcome back, dear members of our community!</h2>
    <p>We missed you. This forum is our secret meeting place, our digital sanctuary where we share ideas, strategies and discoveries. Even though we have never met in real life, our minds are connected by our shared passion and quest to conquer.</p>
    <p>Get ready to dive into deep discussions, reveal secrets, and collaborate like never before. Together, we will push the boundaries, explore the unknown, and work tirelessly toward our ultimate goal: to conquer the world.</p>
    <p>Onwards, towards new adventures and exploits!</p>
    <p class="text-right">Th3 d4rk c4t</p>
</div>


{% include 'dashboard/members.html' %}

{% endblock %}