{% load static %}

<div class="row tall-row">
    <div class="col-lg-12">
        <h1>Members</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-dismissible alert-warning">
            <p>Our community is growing, here are our members. Of course I will not display the usernames here as it's the only field needed to login (this page is impossible to guess so no need to have a password for each member).</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="well text-center">
            <p>Member #1</p>
            <img src="{% static 'images/members/1.jpeg' %}" width="160" height="200" alt="Member #1">
        </div>
    </div>
    <div class="col-md-4">
        <div class="well text-center">
            <p>Member #2</p>
            <img src="{% static 'images/members/2.jpeg' %}" width="160" height="200" alt="Member #2">
        </div>
    </div>
    <div class="col-md-4">
        <div class="well text-center">
            <p>Member #3</p>
            <img src="{% static 'images/members/3.jpeg' %}" width="160" height="200" alt="Member #3">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="well text-center">
            <p>Member #4</p>
            <img src="{% static 'images/members/4.jpeg' %}" width="160" height="200" alt="Member #4">
        </div>
    </div>
    <div class="col-md-4">
        <div class="well text-center">
            <p>Member #5</p>
            <img src="{% static 'images/members/5.jpeg' %}" width="160" height="200" alt="Member #5">
        </div>
    </div>
    <div class="col-md-4">
        <div class="well text-center">
            <p>Member #6</p>
            <img src="{% static 'images/members/6.jpeg' %}" width="160" height="200" alt="Member #6">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="well text-center">
            <p>Member #7</p>
            <img src="{% static 'images/members/7.jpeg' %}" width="160" height="200" alt="Member #7">
        </div>
    </div>
    <div class="col-md-4">
        <div class="well text-center">
            <p>Member #8</p>
            <img src="{% static 'images/members/8.jpeg' %}" width="160" height="200" alt="Member #8">
        </div>
    </div>
    <div class="col-md-4">
        <div class="well text-center">
            <p>Member #9</p>
            <img src="{% static 'images/members/9.jpeg' %}" width="160" height="200" alt="Member #9">
        </div>
    </div>
</div>