{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        {% include 'messages.html' %}
        <div class="well">
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend>H4x0rs Only - Step 2/2</legend>
                    <p>Hi <strong>{{ member }}</strong>, here is your custom secret question:</p>
                    <div class="alert alert-success">
                        {{ member.question }}
                    </div>
                    {% crispy form %}
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}